.main{
    width: 50%;
    margin: auto;
    background-color: #807ce4;
    border-radius: 1.5%;
}
.myImg{
width: 135px;
border-radius: 50%;
border: 5px solid #eee;
box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
margin-left: 235px;
margin-top: 20px;
}
.fullName{
width: 50%;
margin-left: 145px;
font-family: algerian;
text-align: center;
padding-bottom: 20px;
padding-top: 7px;
}
.profession{
width: 50%;
margin-left: 145px;
font-family: algerian;
text-align: center;
padding-bottom: 20px ;
}
.btnHS{
    display:block;
    margin: auto;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}
.btnHS:hover{
    background-color: rgb(196, 233, 31);
}
.Componentmounted {
    text-align: center;
}